[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "==1.1.1"
pyjwt = "==1.7.1"
flask-sqlalchemy = "==2.4.0"
nakiri = {editable = true,path = "."}
flask-migrate = "==2.5.2"
psycopg2 = "==2.8.3"
flask-cors = "==3.0.8"

[requires]
python_version = "3.7"
